# Main application
VITE_COLOR_PRIMARY="#121212"
VITE_COLOR_SECONDARY="#282828"

# Main text
VITE_COLOR_TEXT_PRIMARY="#ffffff"
VITE_COLOR_TEXT_SECONDARY="#888888"
VITE_COLOR_TEXT_HOVER="#444444"

# Objects / cards
VITE_COLOR_OBJECT="#1e1e1e"
VITE_COLOR_OBJECT_HOVER="#282828"
VITE_COLOR_OBJECT_TEXT_PRIMARY="#ffffff"
VITE_COLOR_OBJECT_TEXT_SECONDARY="#888888"
VITE_COLOR_OBJECT_TEXT_HOVER="#444444"

# Current song
VITE_COLOR_CURRENT_SONG="#2b9c1c"

# Album covers
VITE_COLOR_ALBUM_PLACEHOLDER="#333333"

# Alerts
VITE_COLOR_ALERT="#bd0404"
VITE_COLOR_ALERT_TEXT="#000000"

# Notifications
VITE_COLOR_NOTIFICATION="#333333"
VITE_COLOR_NOTIFICATION_TEXT="#ffffff"

#Login
VITE_COLOR_LOGIN="#3b82f6"
VITE_COLOR_LOGIN_HOVER="#2563eb"