.card {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 90px;
  padding: 16px 16px;
  gap: 12px;
  background: var(--color-object);

  border-radius: 8px;

  color: var(--color-object-text-primary);

  cursor: pointer;

  transition: background 0.15s ease;
  margin-bottom: 8px;
}

.card:hover {
  background: var(--color-object-hover);
}

.card-content {
  width: 100%;
  height: 100%;
}