.notification {
  position: fixed;
  top: 24px;
  left: 50%;
  z-index: 9999;

  padding: 12px 20px;
  border-radius: 10px;

  background: var(--color-notification);
  color: var(--color-notification-text);

  font-size: 14px;

  animation: notification-in-out 3s ease-in-out;
}

.alert {
  position: fixed;
  top: 24px;
  left: 50%;
  z-index: 9999;

  padding: 12px 20px;
  border-radius: 10px;

  background: var(--color-alert);
  color: var(--color-alert-text);

  font-size: 14px;

  animation: notification-in-out 3s ease-in-out;
}

@keyframes notification-in-out {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-10px);
  }

  10% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }

  90% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(-10px);
  }
}