.queue-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.queue-item {
  height: 50px;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  background: var(--color-object);
  border-radius: 10px;
}

.queue-song-info {
  min-width: 0;
  flex: 1;
}

.queue-song-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  font-size: 16px;
}

.queue-song-artist {
  margin-top: 4px;

  color: var(--color-text-secondary);

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.queue-remove-button {
  flex-shrink: 0;

  padding: 8px 12px;

  border: none;
  border-radius: 6px;

  background: var(--color-text-hover);
  color: var(--color-text-primary);

  cursor: pointer;
}

.queue-remove-button:hover {
  background: var(--color-text-secondary);
}

.queue-empty {
  color: var(--color-text-secondary);
  text-align: center;
}

.queue-song-cover,
.queue-song-cover-placeholder {
  height: 90%;
  aspect-ratio: 1 / 1;
  flex-shrink: 0;
  object-fit: cover;
  border-radius: 4px;
}